@use "layout";

footer {
    position: fixed;
    bottom: layout.$small-space / 2;
    right: layout.$small-space;

    text-align: right;
    color: gray;
    font-weight: lighter;
    font-size: x-small;

    a {
        color: gray;

        &:hover {
            text-decoration: underline;
        }
    }
}
