.full-width {
    width: 100vw;
}

.full-height {
    height: 100vh;
}

@mixin margin-top-bottom($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}

@mixin flex-container($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

.center-container {
    @include flex-container(center);
}

.center-dialogue {
    margin: 20px;

    @include flex-container(center);
    flex-direction: column;

    padding: 30px;

    text-align: center;
    border: solid gray;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    .center-dialogue {
        width: 100%;
    }
    .hide-on-mobile {
        display: none;
    }
}
