$big-space: 20px;
$small-space: 10px;

.full-width {
    width: 100vw;
}

.full-height {
    height: 100vh;
}

@mixin flex-container($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

.center-container {
    @include flex-container(center);
}

.space-between-container {
    @include flex-container(space-between);
}

.center-dialogue {
    @extend .responsive-width;
    margin: $big-space;
    padding: 30px;

    @include flex-container(center);
    flex-direction: column;

    text-align: center;
    border: solid gray;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    .responsive-width {
        width: 100vw;
    }
    .hide-on-mobile {
        display: none;
    }
}
