@use "layout";
@use "vars";

$nav-height: 60px;

.padding-to-nav {
    padding-top: $nav-height;
}

nav {
    @extend .space-between-container;
    height: $nav-height;
    position: fixed;
    background-color: vars.$primary-color;
    letter-spacing: 0.2em;

    .small-side-margin {
        margin-left: layout.$small-space;
        margin-right: layout.$small-space;
    }

    .padding-left-10 {
        padding-left: layout.$small-space;
    }

    img {
        padding: 10px;
    }
}
