@use "layout";
@use "vars";

nav {
    & {
        @include layout.flex-container(space-between);
        position: fixed;
        background-color: vars.$primary-color;
        letter-spacing: 0.2em;
    }

    .margin-10 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .padding-left-10 {
        padding-left: 10px;
    }

    img {
        filter: invert(1);
    }
}
