@use "vars";
@use "layout";
@use "ui";
@use "nav";
@use "footer";
@use "action-bar";

* {
    font-family: vars.$font-stack;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type=image], img {
    filter: invert(1);
}
