@use "vars";
@use "layout";
@use "nav";
@use "footer";

* {
    font-family: vars.$font-stack;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.button {
    padding: 6px 16px 6px 16px;
}
