@use "layout";

$table-border: dashed black;

table {
    margin: layout.$big-space;

    text-align: left;

    border: $table-border;
    border-radius: 10px;

    th, td {
        padding: layout.$small-space;

        &.bottom-border {
            border-bottom: $table-border;
        }
    }
}

#tooltip-add-circle {
    transform: translate(0, 2px);
}
