@use "container";

$font-stack: 'Open Sans', sans-serif;

* {
    font-family: $font-stack;
    margin: 0;
}

.button {
    padding: 6px 16px 6px 16px;
}

footer {
    & {
        position: fixed;
        bottom: 5px;
        right: 10px;
        width: 100vw;

        text-align: right;
        color: gray;
        font-weight: lighter;
        font-size: x-small;
    }

    a {
        & {
            color: gray;
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
