<!DOCTYPE html>
<html lang="en">
<head>
    {{> head name=general.name page="Add User Password" }}
    <link href="/css/dialogue.css" rel="stylesheet">
</head>
<body>
{{> navigation name=general.name page="Add User Password" admin=true logout=true }}
<div class="center-container full-height">
    <div class="center-dialogue responsive-width">
        <form method="post">
            <div class="space-between-container small-margin">
                <label for="name-input">Name</label>
                <input type="text" id="name-input" name="name" placeholder="Name" required>
            </div>
            <div class="space-between-container small-margin">
                <label for="password-input">Password</label>
                <input type="text" id="password-input" name="password" placeholder="Password" minlength="8" required>
            </div>
            <div class="space-between-container small-margin">
                <label for="admin-input">Admin?</label>
                <input type="checkbox" id="admin-input" name="admin">
            </div>
            {{> error-box }}
            <input type="submit" value="Create User Password" id="submit-button" class="small-margin big-button">
        </form>
    </div>
</div>
</body>
</html>
