<!DOCTYPE html>
<html lang="en">
<head>
    {{> head name=flash.general.name page="Add Table" }}
    <link href="/css/table.css" rel="stylesheet">
</head>
<body>
{{> navigation name=flash.general.name page="Admin Settings" admin=false logout=true }}
<div class="padding-to-nav center-column-container">
    <div class="small-margin">
        {{> error-box kind=flash.kind message=flash.message }}
    </div>
    <h1>User Passwords</h1>
    <table class="responsive-width">
        <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Admin</th>
            <th>
                <a href="/admin/add">
                    <button class="wide" type="button">Add</button>
                </a>
            </th>
        </tr>
        {{#each passwords}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.created}}</td>
                <td style="text-align: center">
                    {{#if this.admin}}
                        <img src="/images/streamline-validation-check.svg" alt="Yes" width="16" height="16">
                    {{else}}
                        <img src="/images/streamline-delete.svg" alt="No" width="16" height="16">
                    {{/if}}
                </td>
                <td>
                    <form action="/admin/delete-password" method="post">
                        <input type="hidden" name="password_id" value="{{this.id}}">
                        <input type="submit" value="Delete" style="width: 100%">
                    </form>
                </td>
            </tr>
        {{/each}}
        </thead>
    </table>
</div>
</body>
</html>
