<!DOCTYPE html>
<html lang="en">
<head>
    {{> head name=general.name page="Login" }}
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
{{> navigation name=general.name page="Login" }}
<div class="center-container full-height">
    <div class="center-dialogue">
        <h1>Login</h1>
        <p class="bottom-margin">Please provide your password below to continue</p>
        {{> error-box }}
        <form method="post">
            <input type="password" name="password" placeholder="Password" minlength="8" class="password-field" required>
            <br>
            <input type="submit" value="Log In" class="big-button">
        </form>
    </div>
</div>
{{> footer }}
</body>
</html>
