<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="vault.css" rel="stylesheet">
    <link href="login.css" rel="stylesheet">
    <title>{{name}} | Login</title>
</head>
<body>
<nav></nav>
<div class="center-container full-height">
    <div class="center-dialogue">
        <h1>Login</h1>
        <p>Please provide your login details below</p>
        <form>
            <input type="password" name="password" placeholder="Password" id="password-field" required>
            <br>
            <input type="submit" value="Login" class="button">
        </form>
    </div>
</div>
<footer>
    &copy; 2021 <a href="https://github.com/lennartkloock/simple-password-vault" target="_blank">Lennart
    Kloock</a>
</footer>
</body>
</html>
