<nav class="full-width">
    <div class="center-container margin-10">
        <a href="/" class="center-container">
            <img src="images/streamline-shield.svg" alt="Logo" width="32" height="32">
            <h2 class="padding-left-10 hide-on-mobile">{{name}}</h2>
        </a>
        <p class="hide-on-mobile">&nbsp;|&nbsp;</p>
        <p>{{page}}</p>
    </div>
    <div class="center-container margin-10">
        {{#if logout}}
            <img src="images/streamline-logout.svg" alt="Theme" width="32" height="32">
        {{/if}}
        {{#if theme-switch}}
            <img src="images/streamline-brightness.svg" alt="Theme" width="32" height="32">
        {{/if}}
    </div>
</nav>
