<nav class="full-width">
    <div class="center-container small-side-margin">
        <a href="/" class="center-container" title="Return to Vault">
            <img src="images/streamline-shield.svg" alt="Logo" width="32" height="32">
            <h2 class="padding-left-10 hide-on-mobile">{{name}}</h2>
        </a>
        <p class="hide-on-mobile">&nbsp;|&nbsp;</p>
        <p>{{page}}</p>
    </div>
    <div class="center-container small-side-margin">
        {{#if admin}}
            <a href="/admin" title="Admin Settings">
                <img src="images/streamline-setting-cog.svg" alt="Admin Settings" width="32" height="32">
            </a>
        {{/if}}
        {{#if logout}}
            <form action="/logout" method="post" title="Logout">
                <input type="image" src="images/streamline-logout.svg" alt="Logout" width="32" height="32">
            </form>
        {{/if}}
    </div>
</nav>
