<!DOCTYPE html>
<html lang="en">
<head>
    {{> head name=general.name page="New admin password" }}
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
{{> navigation name=general.name page="New admin password" }}
<div class="center-container full-height">
    <div class="center-dialogue">
        <h1>Set new admin password</h1>
        <p>Please create a new admin password.</p>
        {{> error-box }}
        <form method="post">
            <input type="password" name="password" placeholder="Password" minlength="8" class="password-field" style="margin-bottom: 0" required>
            <input type="password" name="password_confirm" placeholder="Confirm password" minlength="8" class="password-field" required>
            <br>
            <input type="submit" value="Log In" class="big-button">
        </form>
    </div>
</div>
{{> footer }}
</body>
</html>
