<!DOCTYPE html>
<html lang="en">
<head>
    {{> head page="Vault" }}
</head>
<body>
{{> navigation page="Vault" logout=true }}
<div class="center-column-container full-height">
    <h1>No tables...</h1>
    <p>Press&nbsp;<img src="/images/streamline-add-circle.svg" width="16" height="16"
                       alt="+" style="transform: translate(0, 2px)">&nbsp;in the bottom right corner to create a new
        table.</p>
</div>
{{> action-bar }}
</body>
</html>
