<!DOCTYPE html>
<html lang="en">
<head>
    {{> head name=name page="Vault" }}
</head>
<body>
{{> navigation page="Vault" logout=true }}
<div class="center-column-container full-height">
    <h1>No such table</h1>
    <p>The requested table could not be found.</p>
</div>
{{> action-bar }}
</body>
</html>
