<!DOCTYPE html>
<html lang="en">
<head>
    {{> head page="Vault" }}
    <link href="css/vault.css" rel="stylesheet">
</head>
<body>
{{> navigation page="Vault" logout=true }}
{{> table table_id tables columns rows }}
{{> action-bar }}
</body>
</html>
