<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/font.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>{{name}} | Vault</title>
</head>
<body>
{{> navigation page="Vault" logout=true theme-switch=true }}
{{> footer }}
</body>
</html>
